body {
    background-color: lightpink;
}

}


.lastName {
    color: ;
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: centers;
    padding: 20px;
}